.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: white;
  padding-top:1em;
}

.App-link {
  color: #61dafb;
}
